body {
  font-family: "Times New Roman", Times, serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#copyright {
  color: gray;
  margin-top: -50px;
  font-family: monospace;
  font-size: 0.9rem;
}
#container {
  height: 80vh;
  width: 70vw;
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 12px;
  border: 1px solid black;
}
#text {
  color: ghostwhite;
  background-color: orange;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  margin-top: 6px;
  letter-spacing: 1px;
}
#screen {
  height: 16vh;
  width: 100%;
  background-color: white;
  opacity: 0.6;
  margin-bottom: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-weight: bold;
  font-size: 4rem;
  padding: 5px;
  font-family: monospace;
  overflow: hidden;
  color: rgb(54, 54, 54);
  box-sizing: border-box;
}
#btn-container {
  height: 48vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
  margin-bottom: 2px;
}
.btn {
  display: flex;
  height: 100%;
  width: 25%;
  margin-right: 1px;
  margin-left: 1px;
  font-weight: bold;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}
#zero {
  width: 50%;
}
.operator {
  background-color: orange;
}

/* media query for responsiveness */

@media screen and (max-width: 750px) {
  #container {
    height: 100vh;
    width: 90vw;
  }
  #copyright {
    font-size: 1.5rem;
  }
}
